/* -------------------  angular-ui-bootstrap setup  ------------------- */



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



body {
    min-height: 2000px;
    padding-top: 70px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}
