/* -------------------  angular-ui-bootstrap setup  ------------------- */



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.mybrand {
    padding-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding-top: 24px;
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 0;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fff;
}

.padding-lr-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-bottom-156 {
    padding-bottom: 156px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}

.padding-top-12 {
    padding-top: 12px;
}

.badge {
    margin: 3px 3px;
}

.badge.active {
    background-color: BLACK;
}

.tz-gallery {
    padding: 40px;
    overflow: auto;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.media-object {
    height: 160px;
}

.vjs-default-skin .vjs-big-play-button {
    font-size: 4em;
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    border: 0.06666em solid #fff;
    border-radius: 0.3em;
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
}

.video-js .vjs-soft-link {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 10px;

    /*
      By default, do not show the title bar.
    */
}

.video-js.vjs-paused.vjs-has-started .vjs-soft-link,
.video-js.vjs-user-active.vjs-has-started .vjs-soft-link{
    display: inline-block;
}

a.badge:focus, a.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: BLACK;
}

a.timeFrame:focus, a.timeFrame:hover {
    cursor: pointer;
}

div.caption {
    display: inline-block;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}

a {
    color: #333;
    text-decoration: none;
}

.nav>li>a {
    position: relative;
    /* display: block; */
}

@media screen and (max-width: 360px) {
    .jumbotron {
        padding-top: 89px;
    }
}

